body,
button,
input,
pre,
select,
table,
textarea {
    font-family: "Victor Mono SemiBold", "Noto Sans KR Medium", -apple-system,
                 BlinkMacSystemFont, "Apple SD Gothic Neo", Helvetica, Arial, NanumGothic,
                 "나눔고딕", "Malgun Gothic", "맑은 고딕", Dotum, "굴림", gulim, "새굴림",
                 "noto sans", "돋움", sans-serif;
}

._chatting_1lio3_1 {
    transform: scale(2.5);
    transform-origin: bottom left;
}

._message_1lio3_27 {
   max-width: 40%;
}

._wrapper_ca0ha_15 {
    vertical-align: inherit;
}

._container_ca0ha_1._is_overlay_ca0ha_1 ._text_ca0ha_1 img {
    vertical-align: middle;
}

._container_zw6kq_2._is_message_zw6kq_5 ._text_1iatj_2 {
    margin-right: 10px;
}
